header {
    background: linear-gradient(grey, white);

}

header h1 {
    margin: 0 0 50px;
    padding: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-areas: 
    "s s m m";
}

.sidebar {
    grid-area: s;
}

.main {
    grid-area: m;
}

ul {
    list-style: none;
}

li img {
    width: 200px;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

form input,
form label,
form textarea {
    box-sizing: border-box;
    display:flex;
    margin: 5px 0;
    width: 50%
}

