header {
    background: rgb(38, 41, 40);
    color: whitesmoke;
}

header h1 {
    margin: 0;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

html,
body {
    color: rgb(38, 41, 40);
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-areas:
        "s s m m";
    grid-template-rows: 200px
}

.sidebar {
    grid-area: s;
}

#inventory {
    grid-area: s;
}

#new-game {
    grid-area: m;
}

.main {
    grid-area: m;
}

ul {
    list-style: none;
    padding-top: 75px;
}

li {
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li img {
    width: 200px;
}

h2#inventory {
    padding-left: 35px
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(38, 41, 40);
}

form {
    padding-top: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form fieldset input {
    cursor: pointer;
}

form fieldset,
form input,
form label,
form textarea {
    box-sizing: border-box;
    display: flex;
    margin: 5px 0;
    width: 50%;
}

button {
    border: none;
    border-radius: 5px;
    background: rgb(11, 137, 61);
    cursor: pointer;
    margin: 5px;
    margin-left: 0px;
    color: whitesmoke;
}

@media (max-width: 660px) {
    header h1 {
        text-align: center;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "m";
        grid-template-rows: 200px 200px 50px;
        ;
        justify-items: center;
    }

    #new-game {
        padding-left: 35px
    }

    form textarea,
    form input,
    form fieldset {
        box-sizing: border-box;
        display: flex;
        margin: 5px;
        width: 75%;
    }

    #inventory {
        grid-area: m;
        grid-row: 4;
    }
}